<!--<img src="\assets\banner.png" alt="" width="600" height="500">-->
<div class="container">
    <div class="row">
        <div class="column-custome">
            <img src=" \assets\banner.png" alt="banner-img" width="100%" height="100%" class="banner-img">
        </div>
        <div class="column-custome">
            <div class="row" style="padding-left: 13px;">
                <div class="col-6 d-flex align-items-center justify-content-center services service-box">
                    <img src="https://via.placeholder.com/50" alt="banner-img" width="50px" height="50px"
                        class="rounded-circle">
                    <h5 style="padding-top: 15px;">Service 1</h5>
                    <p style="text-align: center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod</p>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center services service-box">
                    <img src="https://via.placeholder.com/50" alt="banner-img" width="50px" height="50px"
                        class="rounded-circle">
                    <h5 style="padding-top: 15px;">Service 2</h5>
                    <p style="text-align: center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod</p>
                </div>
            </div>
            <div class="row" style="padding-left: 13px;">
                <div class="col-6 d-flex align-items-center justify-content-center services service-box">
                    <img src="https://via.placeholder.com/50" alt="banner-img" width="50px" height="50px"
                        class="rounded-circle">
                    <h5 style="padding-top: 15px;">Service 3</h5>
                    <p style="text-align: center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod</p>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center services service-box">
                    <img src="https://via.placeholder.com/50" alt="banner-img" width="50px" height="50px"
                        class="rounded-circle">
                    <h5 style="padding-top: 15px;">Service 4</h5>
                    <p style="text-align: center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed
                        do eiusmod</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center pricing-header">
        <h1 style="font-weight: bold;">Pricing</h1>
        <h5 class="pricing-tagline" style="text-align: center;">Now you can smartly book your appointments hassle free.
            Reshedule without any
            tension.</h5>
    </div>

    <div class="d-flex align-items-center justify-content-center pricing-header" >
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card" style="text-align: center">
                    <div class="card-header">
                      <h1>Free</h1>
                    </div>
                    <div class="card-body"> 
                    <button class="btn btn-outline-primary" style="text-align: center">Select Plan</button>      
                     <ul>
                     <li>Now you can book your
                          appointments </li>
                      <li>Now you can book your
                          appointments </li>
                      <li>Now you can book your
                          appointments</li>
                     </ul>
                    </div> 
                 </div>   
            </div>
            <div class="col mb-4">
                <div class="card" style="text-align: center">
                    <div class="card-header">
                      <h1>$8</h1>
                    </div>
                    <div class="card-body"> 
                        <button class="btn btn-primary" style="text-align: center">Select Plan</button>     
                     <ul>
                     <li>Now you can book your
                          appointments </li>
                      <li>Now you can book your
                          appointments </li>
                      <li>Now you can book your
                          appointments</li>
                     </ul>
                    </div> 
                 </div>   
            </div>
            <div class="col mb-4"> 
               <div class="card" style="text-align: center">
                   <div class="card-header">
                     <h1>$12</h1>
                   </div>
                   <div class="card-body">
                    <button class="btn btn-outline-primary" style="text-align: center">Select Plan</button>      
                    <ul>
                    <li>Now you can book your
                         appointments </li>
                     <li>Now you can book your
                         appointments </li>
                     <li>Now you can book your
                         appointments</li>
                    </ul>
                   </div> 
                </div>
             </div>
        </div>
    
     <div class="d-flex align-items-center justify-content-center pricing-header">
            <h1 style="font-weight: bold;">Make it easy to schedule with you</h1>
            <h5 class="pricing-tagline" style="text-align: center;">Now you can smartly book your appointments hassle free.
                Reshedule without any
                tension.</h5>
    </div>
    <div class="column-custome">
        <div class="row" style="padding-left: 13px;">
            <div class="col-6 d-flex align-items-center justify-content-center services service-box" >
                <div class="rounded-circle">
                <p style="text-align: center;">Share availability anywhere you can share a
                    link: add Calendly to your website, email
                    campaigns, text messages, social profiles,
                    or web chat</p>
                    </div>
            </div>
            
        </div>
    </div>
    
</div>
